*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-image: url('images/bg-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
    background-color: #fff;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #000000;
}

nav a:hover{
    background-color: #f0f0f0;
}

nav li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li a{
   width: 100%;
}

.menu-button{
    display: none;
}

@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
 
    .menu-button{
        display: block;
    }
}

@media(max-width: 400px){
    .sidebar{
      width: 100%;
    }  
}



/* Card Section */

/* .container{
    width: 100%;
    min-height: 100vh;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 90px;
  }
  
  .card-section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .card-section .card{
    flex: 1;
    margin: 20px 20px;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.3);
    border-radius: 10px;
  }
  
  .card-section .card h4{
    margin: 15px 0px;
    font-size: 28px;
    color: #1662a1;
  }
  
  .card-section .card p{
    font-size: 16px;
    line-height: 1.5;
    padding: 0px 10px;
    margin-bottom: 20px;
  }
  
  .btn{
    display: inline-block;
    border: 2px solid #1662a1;
    border-radius: 4px;
    padding: 10px 20px;
    text-decoration: none;
    color: #1662a1;
    transition: all 0.3s ease;
    margin: 20px 0px;
  }
  
  .btn:hover{
    background-color: #1662a1;
    color: #fff;
  }
  
  @media screen and (max-width: 789px){
    .card-section{
      flex-direction: column;
    }
  } */
    
